<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MVP. Группа: ИРНИТУ 109P</title>
  </head>
  <body>

<h1>Прототип. Сбор данных по запросу полученному "Сетью университетских центров сбора и анализа открытых данных"</h1>
<h2>Группа: ИРНИТУ 109P</h2>
<p> Для использования веб-приложения перейдите по <a href='{% url 'start' %}'>ссылке👍<a></p>


<h3>Функции</h3>
<ol>
    <li>Импорт данных из VK.</li>
    <li>Работа с предзагруженными данными.</li>
    <li>Визуализация.</li>
</ol>

<h3>Разработка</h3>
MVP модуля сбора данных из социальной сети VK.com
<ol>
<li>прототип представлен в файле `prototype.ipynb`</li>
</ol>

<h3>Как работает модуль:</h3>
<ol>
    <li>Модуль, представляет собой веб-приложение, которое запрашивает id паблика в VK. Для тестирования использовался - <a href='https://vk.com/club95095088'>Паблик «Батутный центр города Томска»</a></li>
    <li>Данные запрашиваются через API-VK, для работы требуется ключ.</li>
    <li>Данные сохраняются в БД MongoDB.</li>
    <li>Строятся простые визуалазации данных.</li>
    <li>Данные сибираются и доступны для исследователей входящих в сеть «Университетских центров».</li>
</ol>

<h3>Техническая реализация</h3>
<ol>
    <li>Модуль построен на python на основе следующих библиотек: `numpy pandas matplotlib seaborn requests pymongo django pymorphy2`</li>
    <li>Развертывание осуществляось через Docker.</li>
    <li>Модуль развёрнут в Google Cloud.</li>
</ol>

<h3>Docker<h3>
<ol>
    <li>Базовый образ - <a href='https://hub.docker.com/_/python/'>python</a></li>
</ol>

<h3>Краткое описание процесса разработки и инструкции по по самостоятельному развёртыванию</h3>
<ol>
    <li>Создаём виртуальное окружение `conda create --name vkmdb python=3.7 ipykernel numpy pandas matplotlib seaborn requests pymongo django pymorphy2 notebook ipywidgets`</li>
    <li>Запускаем MongoDB - локально, для тестирования</li>
        <pre> 
        docker pull mongo
        docker run -d --name i109r -p 27017:27017 mongo:latest
        </pre>
    <li>Создаём проект Django</li>
        <pre>
        django-admin startproject VK2MongoDB .
        </pre>
    <li>Создаём приложение</li>
        <pre>
        python manage.py startapp main
        </pre>
    <li>В приложении создаём необходимые представления:</li>
    <ol>
        <li>`home` - основная страница с описанием</li>
        <li>`start` - запрос данных от пользователя и начало загрузки данных</li>
        <li>`upload` - для работы с предзагруженными данными</li>
        <li>`transform` - преобразования данных в БД</li>
        <li>`visualization` - обзор собранных данных</li>
    </ol>
    <li>Преобразуем прототип в отдельные скрипты, которые будут вызываться при работе приложения, разместим их в папке `main`:</li>
    <ol>
        <li>Основные:</li>
        <ol>
            <li>`py_data_get.py` - модуль получения данных от VK (используется в представлениях)</li>
            <li>`py_data_transorm.py` - модуль трансформации данных в БД</li>
            <li>`py_visualization.py` - визуализация данных</li>
        </ol>
        <li>Системные - получение данных:</li>
        <ol>
            <li>`py_mongodb.py` - системный модуль для работы с базой данных</li>
            <li>`py_parse.py` - системный модуль для разбора ответа от API-VK</li>
            <li>`py_settings.py` - модуль с настройками (параметры заданы по умолчанию, меняются при начале работы с приложением - используется в представлениях)</li>
            <li>`py_system.py` - системный модуль для внутренних проверок</li>
            <li>`py_vkapi.py` - модуль взаимодействия с VKAPI</li>
        </ol>
        <li>Системные - преобразование данных:</li>
        <ol>
            <li>`py_datetime.py` - работа со временем</li>
            <li>`py_words.py` - преобразования текста</li>
            <li>`py_categories.py` - категории постов и комментариев (в разработке)</li>
        </ol>
        <li>`py_unittest.py` - Юниттесты</li>
    <li>Составим dokerfile - для создания контейнера.</li>
    <li>Соберём свой контейнер `docker build -t vk-mongo-parser-image:v0.1 .`</li>
    <li>Создадим сеть для взаимодействия контейнеров `docker network create backend-network`</li>
    <li>Запускам mongodb-server `docker run -d --name mongo-server -p 27017:27017 --net backend-network mongo` `mongo-server` - нужно использовать в проекте в качестве ip адреса сервера</li>
    <li>Запустим приложение `docker run -d --rm --name app -p 8000:8000 --net backend-network -e "VK_TOKEN=..." vk-mongo-parser-image:v0.1`</li>
        <ol>
            <li>`-d` - в режиме демона</li>
            <li>`--rm` - при отключение контейнер будет удалятся</li>
            <li>`--name app` - название для контейнера</li>
            <li>`-p 8000:8000` - привязка портов</li>
            <li>`--net backend-network` - подключить к сети</li>
            <li>`-e "VK_TOKEN=..."` - ваш токен из VK</li>
        </ol>
    <li>Проведём тестирование на локальной машине.</li>
    <li>Переносим созданный Docker Image в облако Google Cloud</li>
        <ol>
            <li>`docker save -o D:\app.tar vk-mongo-parser-image:v0.2`</li>
            <li>`docker load -i /home/koslayn/app.tar`</li>
        </ol>
    <li>Развёртыванием всё в облаке.</li>
    </ol>
</ol>
Для получения прямого доступа к MongoDB можно воспользоваться программой <a href='https://robomongo.org/download'>
    Robo 3T</a><br>
    ip-адрес: 34.91.233.0
    </body>
</html>