<!DOCTYPEhtml>
<html>
<head>
    <title>Настройка модуля импорта данных</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>Если вы не хотите менять значения по умолчанию, то не трогайте введённые значения.</p>
        <p>Загрузка данных может занять время, не уходите со страницы, как только она завершится вас перенаправит на страницу с результатами.</p>
        <p>
            ID паблика в VK, перед числом ставить минус.<br>
            По умолчанию стоит https://vk.com/club95095088 - id Батутный центр города Томска «-95095088»<br>
            <br>
            <label>id паблика в VK</label><br>
            <input type="text" name="OWNER_ID" value='-95095088' required>
        </p>
        <p>
            Сколько постов получать из паблика - по умолчанию 100.<br>
            <br>
            <label>Сколько постов загружать из паблика</label><br>
            <input type="text" name="HOW_MANY_POSTS_TO_GET" value='100' required>
        </p>
        <button type="submit">Начать загрузку</button>
    </form>

</body>
</html>